/* breakpoints */

$intermediate-breakpoint: 1023px;

$medium-breakpoint: 767px;

$small-breakpoint: 500px;

/* colors */

$main-color: #00ACFF;

$primary-color: #1190CD;

$white-color: #FFF;

$bg-color: #F1F1F1;

$bg-color-1: #FAFAFA;

$secondary-color: #878787;

$tertiary-color: #444;

$quartiary-color: #999;

$gray-light: #CCC;

$gray-light-2: #666;

$gray-light-3: #bdbdbd;







